/* ─── Ubuntu Sans (UI Components) ───────────────────────────────────────── */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 100 800;
  src: url('../fonts/ubuntusans-v4-latin-ext.woff2') format('woff2');
}

/* nunito-sans - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v32-latin-ext.woff2') format('woff2');
}

/* gentium-plus - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Gentium Plus';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gentium-plus-v2-latin-ext.woff2') format('woff2');
}

/* noto-serif - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-v33-latin-ext.woff2') format('woff2');
}

/* charis-sil - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Charis SIL';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/charis-sil-v2-latin-ext.woff2') format('woff2');
}

/* baloo-da - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Baloo Da';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/balooda-v21-latin-ext.woff2') format('woff2');
}
